[submodule "config"]
	path = config
	url = https://github.com/joselusl/ars_config
	branch = master
[submodule "launchers"]
	path = launchers
	url = https://github.com/joselusl/ars_launchers
	branch = master
[submodule "packages/ars_robot_models"]
	path = packages/ars_robot_models
	url = https://github.com/joselusl/ars_robot_models
	branch = master
[submodule "packages/ars_sim_robot"]
	path = packages/ars_sim_robot
	url = https://github.com/joselusl/ars_sim_robot
	branch = master
[submodule "packages/ars_remote_controller"]
	path = packages/ars_remote_controller
	url = https://github.com/joselusl/ars_remote_controller
	branch = master
[submodule "packages/ars_sim_environment"]
	path = packages/ars_sim_environment
	url = https://github.com/joselusl/ars_sim_environment
	branch = master
[submodule "packages/ars_lib_helpers"]
	path = packages/ars_lib_helpers
	url = https://github.com/joselusl/ars_lib_helpers
	branch = master
[submodule "packages/ars_motion_controller_student"]
	path = packages/ars_motion_controller_student
	url = https://github.com/joselusl/ars_motion_controller_student
	branch = master
[submodule "packages/ars_sim_collision_detection"]
	path = packages/ars_sim_collision_detection
	url = https://github.com/joselusl/ars_sim_collision_detection
	branch = master
[submodule "packages/ars_sim_obstacles_detector"]
	path = packages/ars_sim_obstacles_detector
	url = https://github.com/joselusl/ars_sim_obstacles_detector
	branch = master
[submodule "packages/ars_path_follower_student"]
	path = packages/ars_path_follower_student
	url = https://github.com/joselusl/ars_path_follower_student
	branch = master
[submodule "packages/ars_obstacle_avoidance_student"]
	path = packages/ars_obstacle_avoidance_student
	url = https://github.com/joselusl/ars_obstacle_avoidance_student
	branch = master
[submodule "packages/ars_sim_sensor_vel_robot"]
	path = packages/ars_sim_sensor_vel_robot
	url = https://github.com/joselusl/ars_sim_sensor_vel_robot
	branch = master
[submodule "packages/ars_sim_sensor_pos_robot"]
	path = packages/ars_sim_sensor_pos_robot
	url = https://github.com/joselusl/ars_sim_sensor_pos_robot
	branch = master
