<!-- -->
<launch>

	<arg name="screen" 	default="screen" />
	
	<arg name="ars_optitrack_transf_environment_ros_node_name" 	default="ars_optitrack_transf_environment_dynamic_ros_node" />
	
  <arg name="optitrack_transf_environment_description_yaml_file" default="$(find ars_config)/config/optitrack_transf/optitrack_transf_environment.yaml"/>
  <arg name="obstacles_label" default="dynamic"/>
  
  <group ns="simulator">

    <group ns="sim_environment">

      <node name="$(arg ars_optitrack_transf_environment_ros_node_name)" pkg="ars_optitrack_transf" type="ars_optitrack_transf_environment_ros_node.py" output="$(arg screen)" >
   
        <remap from="obstacles" to="/simulator/sim_environment/obstacles_dynamic"/>

        <param name="optitrack_transf_environment_description_yaml_file" value="$(arg optitrack_transf_environment_description_yaml_file)" />
        <param name="obstacles_label" value="$(arg obstacles_label)" />
    
      </node>
      
    </group>

  </group>
  


</launch>
